<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Diary</title>
    <link rel="stylesheet" href="../css/signup.css">
    
</head>
<body>
    <div class="bigbody">
    <div class="topnav">
        <h1 style="text-align:center;">Scribbles Online Diary</h1>
       

    </div>
    
        
    
    <p class="bigheading"><b>Make All Your Days Count</b></p>
    <p class="smallheading"><b>Create A New Account</b></p>
    
    <div>
    <form>
        Username:<br>
        <input type="text" name="Username"><br>
        Email Address:<br>
        <input type="email" name="EmailAddress"><br>
        Password:<br>
        <input type="password" name="Password"><br>
        Confirm Password:<br>
        <input type="password" name="confirmpassword">
    </form>
    </div>
    <div>
        <p class="lastp">By submitting the form, you agree to Online Diary's terms of Service</p>
        <button type="button">Sign Up</button>
    </div>
    <p style="text-align:center;">Already have an account? Log in</p>

    </div>

</body>
</html>